@model PasswordManager.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Главная страница";
}

<section class="main-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="section-title text-center pb-10">
                    <h1 class="title text-white">Password Manager</h1>
                    <p class="text text-white">Удобный и безопасный менеджер ваших паролей. Попробуйте уже сейчас!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="section-title text-center pb-25">
                    <h1 class="title">Инструменты</h1>
                    <p class="text">С этими интсрументами управлять паролями станет ещё проще! Осталось только выбрать подходящую для вас подписку.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div>
                @foreach (var feature in Model.Features)
                {
                    <partial name="FeatureMainCardPartial" model="feature"/>
                }
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="text-center mt-5">
                    <a class="btn btn-lg btn-success" asp-controller="Shop" asp-action="Subscriptions">Выбрать подписку</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="section-title text-center pb-25">
                    <h1 class="title">Контакты</h1>
                    <p class="text">Наши контакты. Если у вас возникли вопросы или прорблемы, вы можете с нами связаться!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1586.0870321259604!2d49.121191083656505!3d55.79209546745717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead1154a251b7%3A0x9d2bb4764b144bf0!2z0YPQuy4g0JrRgNC10LzQu9C10LLRgdC60LDRjywgMzUsINCa0LDQt9Cw0L3RjCwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwgNDIwMDA4!5e0!3m2!1sru!2sru!4v1622295896523!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="contact-info">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <p class="text-center">
                        <strong>Адрес</strong>: <a class="contact-link" href="https://goo.gl/maps/FHVejzG378LuhNw17">Казань, Кремлевская 35</a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <p class="text-center">
                        <strong>Тел</strong>: <a class="contact-link" href="tel:+79998887766">+7 999 888-77-66</a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <p class="text-center">
                        <strong>Email</strong>: <a class="contact-link" href="mailto:passmanager.info@gmail.com">passmanager.info@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>