@{
    ViewBag.Title = "Панель администратора";
}

<h1>Админ-панель</h1>

<div class="form-group">
    <a class="btn btn-primary mt-3" asp-controller="Users" asp-action="Index">Пользователи</a>
</div>
<div class="form-group">
    <a class="btn btn-primary" asp-controller="Roles" asp-action="Index">Роли</a>
</div>
<div class="form-group">
    <a class="btn btn-primary" asp-controller="Subscriptions" asp-action="Index">Подписки</a>
</div>